@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To IC-Starts Meeting Scheduler</h1>
    <p class="lead">This app helps Ic-Start guests to organize their meetings</p>
    
</div>
